{% extends 'base.html' %}
{% block title %}CMPT Course Finder{% endblock %}

{% block main %}
    <div class="container text-center">
        <h1 class="jumbotron-heading">Pick your course for Summer 2021</h1>
        <form action="your-course" method="post">
            <label for="course" >Course</label>
            <select name="course" id="course">
                {% if courses %}
                    {% for course in courses %}
                        <option value="{{course['value']}}">{{course['label']}}</option>
                    {% endfor %}
                {% endif %}
            </select>
            <button class="btn btn-primary my-1" type="submit">Find</button>
        </form>
    </div>
{% endblock %}